<a href="https://colab.research.google.com/github/mossytreesandferns/DataCampHomework/blob/master/DCDataScienceToolbox1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Mount my drive- run the code, go to the link, accept.
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
#Change working directory to make it easier to access the files
import os
os.chdir("/content/gdrive/My Drive/Colab Notebooks/")
os.getcwd()

'/content/gdrive/My Drive/Colab Notebooks'

# Writing Functions

### defining functions

In [0]:
import pandas as pd
import numpy as np

In [2]:
def shout():
  shout_word = "Word" + " !!!" 
  print(shout_word)
shout()

Word !!!

In [3]:
def shout(word):
  shout_word = word + " !!!" 
  print(shout_word)
shout('Pickles')

Pickles !!!

In [4]:
def shout(word):
  shout_word = word + " !!!" 
  return shout_word
shout('Pickles')

'Pickles !!!'

### Multiple parameters, return values

In [6]:
def squaring_things(num1,num2):
  new_value = num1 ** num2
  return new_value
squaring_things(3,4)

81

In [0]:
even_nums = (2,4,6)
a,b,c = even_nums

In [8]:
a, even_nums[0]

(2, 2)

In [10]:
def squares(num1, num2):
  '''Raise each parameter to the value of the other'''
  one = num1 ** num2
  two = num2 ** num1
  tup = (one, two)
  return tup 
squares(4,3)

(64, 81)

In [7]:
tweets = pd.read_csv('tweets.csv')
tweets.head()

   contributors  ...                                               user
0           NaN  ...  {'utc_offset': 3600, 'profile_image_url_https'...
1           NaN  ...  {'utc_offset': None, 'profile_image_url_https'...
2           NaN  ...  {'utc_offset': 7200, 'profile_image_url_https'...
3           NaN  ...  {'utc_offset': None, 'profile_image_url_https'...
4           NaN  ...  {'utc_offset': -18000, 'profile_image_url_http...

[5 rows x 31 columns]

In [19]:
tweets['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [20]:

# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = tweets['lang']
for entry in col:
  # Iterate over lang column in DataFrame. If the language is in langs_count, add 1 
  if entry in langs_count.keys():
    langs_count[entry] += 1
      
  # Else add the language to langs_count, set the value to 1
  else:
      langs_count[entry] = 1
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}
ERROR! Session/line number was not unique in database. History logging moved to new session 59

In [73]:
def count_entries(df, column):
  langs_count = {}

  #col = tweets['lang']
  for entry in df[column]: 
    if entry in langs_count.keys():
      langs_count[entry] += 1
    else:
        langs_count[entry] = 1
  return langs_count

count_entries(tweets, 'lang')

{'en': 97, 'et': 1, 'und': 2}

# Scope, Default Arguments, and Variable Length Arguments

### Scope and User Defined Functions

In [26]:
new_val = 10
def squared(var):
  new_val = var**2
  return new_val
new_val, squared(3)

(10, 9)

In [36]:
new_val = 20
def squared(var): #no point to creating parameter other than prove that you have to pass in an argument even if it has nothting to do with the action of the function
  """Returns square of a number"""
  new_val2 = new_val**2
  return new_val2
new_val, squared(5)

(20, 400)

In [41]:
new_val = 20
def squared(var): 
  global new_val # brings global new_val into function
  new_val = new_val**2
  return new_val
new_val, squared(3),new_val

(20, 400, 400)

In [0]:
# import builtins
# dir(builtins)

### Nested Functions

In [49]:
def repeat_calc(x1,x2,x3):
  def calc(var):
    return var**2 * 2
  return (calc(x1),calc(x2),calc(x3))
repeat_calc(2,3,4)

(8, 18, 32)

####   *** RETURNING FUNCTIONS ***

In [0]:
def raise_val(n):
  def inner(x):
    raised = x**n
    return raised
  return inner

In [52]:
square = raise_val(2)
cube = raise_val(3)
square(2),cube(4)

(4, 64)

In [56]:
def outer():
  n=1
  def inner():
    nonlocal n
    n=2
    print(n)
  inner()
  print(n)
outer()

2
2

### Default and Flexible arguments

##### Default Arguments

In [58]:
"""Default (keyword) arguments"""
def equ(num, pow=2):
  answer = num ** pow
  return answer
equ(3),equ(3,3)

(9, 27)

In [64]:
def echos(word, echo=2):
  echo_word = (word + ' ') * echo
  return echo_word + ' !!!'

echos('boo'), echos('you',4)

('boo boo  !!!', 'you you you you  !!!')

In [65]:
def shout_echo(word, echo=1, intense=False):
  if intense:
    return word.upper()*echo + '!!!'
  else:
    return word*echo + '!!!'  
shout_echo('Boo'), shout_echo('Boo',3,True)

('Boo!!!', 'BOOBOOBOO!!!')

##### Flexible Arguments

In [60]:
'''Flexible arguments'''
def add_all(*args): # asterisk turns numbers passed in into a tuple
  sum_all = 0
  for num in args:
    sum_all += num

  return sum_all
add_all(1,2,3,4,5)

15

In [66]:
def gibberish(*args):
  hodgepodge = ''
  for word in args:
    hodgepodge += word
  return hodgepodge  

gibberish('cooli','nar','fargle','dos','mio')

'coolinarfargledosmio'

In [62]:
# **kwargs --> key word arguments

def print_all(**kwargs):

  '''print out key value pairs in kwargs'''
  for key, value in kwargs.items():
    print(key + ':' + value)

print_all(name='Dumbledore', job='headmaster',nature='good',wand='unicorn hair')

name:Dumbledore
job:headmaster
nature:good
wand:unicorn hair

In [68]:
def report_status(**kwargs):
  print("REPORT STATUS")
  for k,v in kwargs.items():
    print(k + ': ' + v)
report_status(catwoman='escaped',batman='sleeping',superman='flying',powerpuffgirls='shopping',theblob='oozing')

REPORT STATUS
catwoman: escaped
batman: sleeping
superman: flying
powerpuffgirls: shopping
theblob: oozing

### Tweets Again

In [78]:
'''Using keyword (default) arguments'''
def count_entries(df, col_name='lang'):
  cols_count = {}
  
  for entry in df[col_name]: 
    if entry in cols_count.keys():
      cols_count[entry] += 1
    else:
        cols_count[entry] = 1
  return cols_count

count_entries(tweets), count_entries(tweets,'retweeted'),count_entries(tweets,'retweet_count')

({'en': 97, 'et': 1, 'und': 2}, {False: 100}, {0: 100})

In [83]:
'''Using flexible arguments'''
def count_entries(df, *args):
  cols_count = {}
  for arg in args:
    for entry in df[arg]: 
      if entry in cols_count.keys():
        cols_count[entry] += 1
      else:
          cols_count[entry] = 1
  return cols_count

result1 = count_entries(tweets, 'lang')
result2 = count_entries(tweets, 'lang','source','retweeted','retweet_count')  
result1, result2

({'en': 97, 'et': 1, 'und': 2},
 {'<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1,
  '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2,
  '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2,
  '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24,
  '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6,
  '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26,
  '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33,
  '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1,
  '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2,
  '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1,
  '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2,
  False: 200,
  'en': 97,
  'et': 1,
  'und': 2})

# Lambda Functions and Error Handling

### Lambda functions

In [88]:
raise_to_power = lambda x,y: x**y 
raise_to_power(4,5)

1024

##### Map

In [95]:
# map() function takes a function and sequence and applies function to sequence, map(function, seq)
nums = [3,4,5,6,7,8]
func = map(lambda num: num**2, nums)
print(func, list(func))

<map object at 0x7fe13eb4d1d0> [9, 16, 25, 36, 49, 64]

In [97]:
echo_word = lambda word, echo: word * echo
result = echo_word('Hello',5)
result

'HelloHelloHelloHelloHello'

In [99]:
spells = ["protego", "accio", "expecto patronum", "legilimens"]
shout_spells = map(lambda item: item + '!!!', spells)
print(shout_spells, list(shout_spells))

<map object at 0x7fe13ec8d7f0> ['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']
ERROR! Session/line number was not unique in database. History logging moved to new session 67

##### Filter

In [100]:
fellowship = ['frodo', 'samwise', 'merry', 'pippin', 'aragorn', 'boromir', 'legolas', 'gimli', 'gandalf']
result = filter(lambda member: len(member) > 6, fellowship)
print(list(result))

['samwise', 'aragorn', 'boromir', 'legolas', 'gandalf']

##### Reduce

In [0]:
from functools import reduce

In [102]:
stark = ['robb', 'sansa', 'arya', 'brandon', 'rickon']
reduce(lambda item1, item2: item1 + item2, stark)

'robbsansaaryabrandonrickon'

# Introduction to Error Handling

In [108]:
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""
    echo_word = ''
    shout_word= ''
    try:
      echo_word = word1 * echo
      shout_word = echo_word + '!!!'
      return echo_word, shout_word
    except TypeError:
      return 'TypeError'


shout_echo(55,6),shout_echo('Holy Moses',4)

('TypeError',
 ('Holy MosesHoly MosesHoly MosesHoly Moses',
  'Holy MosesHoly MosesHoly MosesHoly Moses!!!'))

##### 'raise'

In [113]:
def shout_echo(word1, echo=1):
    echo_word = ''
    shout_word= ''

    if echo < 0:
      raise ValueError('Echo must be greater than or equal to zero.') 

    try:
      echo_word = word1 * echo
      shout_word = echo_word + '!!!'
      return echo_word, shout_word
    except TypeError:
      return 'TypeError'

shout_echo('Bonjour', 3)#, shout_echo('Bonjour',-2)

('BonjourBonjourBonjour', 'BonjourBonjourBonjour!!!')

# Putting it all together

In [8]:
tweets.head(2)

   contributors  ...                                               user
0           NaN  ...  {'utc_offset': 3600, 'profile_image_url_https'...
1           NaN  ...  {'utc_offset': None, 'profile_image_url_https'...

[2 rows x 31 columns]

In [9]:
result = filter(lambda string: 'RT' in string  ,tweets['text'])
res_list = list(result)
print(len(res_list))
for tweet in res_list:
  print(tweet)

62
RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/…
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:…
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethink🤔 http…
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n…
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @GlendaJazzey: Donald Trump’s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if they’ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber…
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

In [0]:
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    cols_count = {}

    try:
      for entry in df[col_name]: 
        if entry in cols_count.keys():
          cols_count[entry] += 1
        else:
          cols_count[entry] = 1
      return cols_count

    except:
      print('The dataframe does not have a ' + col_name + ' column.')

In [11]:
count_entries(tweets)

{'en': 97, 'et': 1, 'und': 2}

In [12]:
count_entries(tweets, 'fleh')

The dataframe does not have a fleh column.

In [17]:
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    cols_count = {}

    if col_name not in df.columns:
      raise ValueError('The DataFrame does not contain a ' + col_name + ' column.')
      

    try:
      for entry in df[col_name]: 
        if entry in cols_count.keys():
          cols_count[entry] += 1
        else:
          cols_count[entry] = 1
      return cols_count

    except:
      print('There has been an error')

count_entries(tweets, 'lang')

{'en': 97, 'et': 1, 'und': 2}

In [18]:
count_entries(tweets, 'fleh')

ValueError: ignored